.header {
  border-bottom: 1px solid #a8ce38;
  padding: 15px 0;
  max-width: 1200px;
  margin: 0 auto 50px;
  li {
    a {
      color: #a8ce38;
      font-size: 16px;
      letter-spacing: 1px;
    }
  }
}